# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

backend/hackthenorth-470120-d6713c66118f.json
__pycache__/
**/__pycache__/
*.pyc

